<div fxLayout="row wrap">
    <div *ngFor="let content of usernote" fxLayout="row" class="main" >

        <mat-card fxFlex.xs="100" fxLayout="column" fxLayoutAlign="space-between stretch" class="matcard" >

            <div fxFlex.xs="100" fxLayout="row" fxLayoutAlign="space-between start" >

                <div fxFlex="80" fxFlex.xs="80" fxFlex.sm="80" class="wordwrap" >
                    
                        {{content.Title}}
                    
                    <br><br>
                    
                        {{content.Descreption}}
                    
                </div>

                <div fxFlex="20" fxFlex.xs="20" fxFlex.sm="20" >
                    <button mat-icon-button>
                        <mat-icon matTooltip="New note with image"><img class="img2"
                                src="assets\Picture\Symbols\pin.png" />
                        </mat-icon>
                    </button>
                </div>

            </div>

            <div >
                <app-icons  fxFlex="100" fxFlex.xs="100" fxFlex.sm="100"></app-icons>
            </div>

        </mat-card>
    </div>
</div>