<div class="main" fxLayoutGap="2%" fxLayoutAlign="start">
    <mat-card *ngFor="let content of usernote" class="matcard" fxLayout="column" fxFlex="25" fxFlex.xs="100" fxFlex.sm="40" >

        <div class="notediv">

            <div (click)="openDialog(content)" fxFlex="85"  class="note">
                {{content.isDeleted}}
                <br><br>
                {{content.Title}}

                <br><br>

                {{content.Descreption}}
                {{content._id}}

            </div>

            <div fxFlex="15">
                <button mat-icon-button>
                    <mat-icon matTooltip="New note with image"><img class="img2" src="assets\Picture\Symbols\pin.png" />
                    </mat-icon>
                </button>
            </div>

        </div>

        <div >
            <app-icons [childNoteID]="content._id"></app-icons>
        </div>
    </mat-card>
</div>