<div class="main" fxLayoutGap="2%" fxLayoutAlign="start">
    <mat-card *ngFor="let content of usernote | filter:searchString" class="matcard" fxLayout="column" fxFlex="20"
        fxFlex.xs="100" fxFlex.sm="40" [ngStyle]="{ 'background-color': content.color }">
        <div class="notediv" >

            <div (click)="openDialog(content)" fxFlex="85" class="note">
             
                {{content.Title}}

                <br><br>

                {{content.Descreption}}




            </div>

            <div fxFlex="15">
                <button mat-icon-button>
                    <mat-icon matTooltip="Pin note"><img class="img2" src="assets\Picture\Symbols\pin.png" />
                    </mat-icon>
                </button>
            </div>

        </div>

        <div>
            <app-icons [childNoteID]="content._id"></app-icons>
        </div>
    </mat-card>
</div>