.matcard {
    box-shadow: 0 0 6px;
    padding-left: 5%;
    // border: 1px solid rgb(240, 15, 15);
    // display:flex;
    width: 100%;
  }


.main{
  // min-height: 100px;
  padding: 2%;
  width: 30%;
  // border: 1px solid red;
}

.wordwrap{
  word-wrap: break-word;
}