<div class="iconsdiv" fxLayout="row" fxLayoutAlign="space-between center"  >
  <button id="Remaind" matTooltip="Remind me" mat-icon-button>
    <mat-icon>
      <img id="img" class="imgicons" src="assets\Picture\iconlist\Alart.png" />
    </mat-icon>
  </button>

  <button id="coll" mat-icon-button matTooltip="Collaborator">
    <mat-icon>
      <img id="img" class="imgicons" src="assets\Picture\iconlist\add person.png" />
    </mat-icon>
  </button>

  <button id="col" mat-icon-button matTooltip="Change color">
    <img id="img" class="imgicons" src="assets\Picture\iconlist\Colour.png" />
  </button>

  <button mat-icon-button matTooltip="Add image">
    <img id="img" class="imgicons" src="assets\Picture\iconlist\Picture.png" />
  </button>


  <button id="arc" mat-icon-button matTooltip="Archive">
    <img id="img" class="imgicons" src="assets\Picture\iconlist\Archive.png" />
  </button>

  <button id="menu" mat-icon-button colour="basic" matTooltip="more">
    <img id="img" class="imgicons" src="assets\Picture\iconlist\Three dot.png" />
  </button>

</div>