
.matcard {
    box-shadow: 0 0 6px;
    padding: 0;
    // border: 1px solid rgb(240, 15, 15);

  }

  .img2 {
    opacity: 0.6;
    height: 25px;
  }

  
 .takenote{
  width: 100%;
  
  // margin-left: 2%;

 }

 .inputboxsize{
  height: 40px;
  padding-left: 2%;
 }

 .main{
  padding-left: 21.5%;
 }