<div id="Main" class="main">
    <img src="assets\Picture\Fundoo.jpg" alt="Fundo logo" class="logo">
    <mat-card class="main_block">
        <div class="top">
            <mat-card-title class="title">Forget Password</mat-card-title>
            <p>Enter your phone recovery email
            </p>
        </div>
        <div class="mail">
            <mat-form-field appearance="outline" class="input_box">
                <mat-label>Email</mat-label>
                <input matInput placeholder>
            </mat-form-field>
        </div>



        <div class="action">
            <div class="Login">
                <button mat-button color="primary" href="www.google.com">Login</button>
            </div>
            <div class="Retrive">
                <button mat-flat-button color="primary">Retrive Password</button>
            </div>
        </div>

    </mat-card>
</div>
