<div id="Main" class="main">
    <img src="assets\Picture\Fundoo.jpg" alt="Fundo logo" class="logo">
    <mat-card class="main_block">
        <div class="top">
            <mat-card-title class="title">Forget Password</mat-card-title>
            <p>Enter your phone recovery email
            </p>
        </div>
        <form [formGroup]="forgetform" (ngSubmit)="forget()">

        <div class="mail">
            <mat-form-field appearance="outline" class="input_box">
                <mat-label>Email</mat-label>
                <input matInput placeholder formControlName="mailid">
                <mat-error>Enter your email</mat-error>
            </mat-form-field>
        </div>



        <div class="action">
            <div class="Login">
                <a mat-button color="primary" routerLink="/login" >Login</a>
            </div>
            <div class="Retrive">
                <button type="submit" mat-flat-button color="primary" >Retrive Password</button>
            </div>
        </div>
    </form>
    </mat-card>
</div>
