<div id="Main" class="main">
    <img src="assets\Picture\Fundoo.jpg" alt="Fundo logo" class="logo">
    <mat-card class="main_block">
        <div class="top">
            <mat-card-title class="title">Login</mat-card-title>
            <p>Use your Fundoo account</p>
        </div>
        <div class="mail">
            <mat-form-field appearance="outline" class="input_box">
                <mat-label>Email</mat-label>
                <input matInput placeholder>
            </mat-form-field>
        </div>


        <div class="Password">
            <mat-form-field appearance="outline" class="input_box">
                <mat-label>Password</mat-label>
                <input matInput placeholder>
            </mat-form-field>
        </div>

        <p>Not your computer? Use Guest mode to sign in privately. <b><a href="www.google.com">Learn more</a></b></p>

        <div class="action">
            <div class="fpass">
                <button mat-button color="primary" href="www.google.com">Forget Password</button>
            </div>
            <div class="login">
                <button mat-flat-button color="primary">Login</button>
            </div>
        </div>

    </mat-card>
</div>
