<div id="Main" class="main">
    <img src="assets\Picture\Fundoo.jpg" alt="Fundo logo" class="logo">
    <mat-card class="main_block">
        <div class="top">
            <mat-card-title class="title">Login</mat-card-title>
            <p>Use your Fundoo account</p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">

        <div class="mail">
            <mat-form-field appearance="outline" class="input_box">
                <mat-label>Email</mat-label>
                <input matInput placeholder formControlName="mailid">
                <mat-error>Enter valid Mail</mat-error>
            </mat-form-field>
        </div>


        <div class="Password">
            <mat-form-field appearance="outline" class="input_box">
                <mat-label>Password</mat-label>
                <input matInput placeholder formControlName="password">
                <mat-error>Enter valid password</mat-error>

            </mat-form-field>
        </div>

        <p>Not your computer? Use Guest mode to sign in privately. <button routerLink="/registration">Sign Up</button></p>

        <div class="action">
            <div class="fpass">
                <a mat-button color="primary" routerLink="/forgetpassword">Forget Password</a>
            </div>
            <div class="login">
                <button type="submit" mat-flat-button color="primary">Login</button>
            </div>
        </div>
        </form>
    </mat-card>
</div>
