<div id="Main" class="Main">

  <img class=" logo" src="assets\Picture\Fundoo.jpg" alt="Fundoo Logo">
  <p class="para">Create your Fandoo Account</p>
  <mat-card id="Main_Block" class="Main_Block">

    <div id="left_Block" class="left_Block">



      <div id="Name" class="name">

        <mat-form-field appearance="outline" class="first_name">
          <mat-label class="boxtext">First name</mat-label>
          <input matInput placeholder class="boxtext">
        </mat-form-field>

        <mat-form-field appearance="outline" class="last_name">
          <mat-label class="boxtext">Last name</mat-label>
          <input matInput placeholder class="boxtext">
        </mat-form-field>

      </div>



      <div id="Username" class="user_name">
        <mat-form-field appearance="outline" class="user_box">
          <mat-label class="boxtext">Username</mat-label>
          <input matInput placeholder class="boxtext">
          <mat-hint class="text">You can use letters, numbers & periods</mat-hint>
        </mat-form-field>
      </div>




      <div id="Password_Main">

        <mat-form-field appearance="outline" class="first_name">
          <mat-label class="boxtext">Password</mat-label>
          <input matInput type="password" placeholder class="boxtext">
          <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="last_name">
          <mat-label class="boxtext">Confirm</mat-label>
          <input matInput type="password" placeholder class="boxtext">
        </mat-form-field>
        <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>

      </div>



      <div id="Checkbox" class="checkbox">
        <mat-checkbox class="boxtext">Show password</mat-checkbox>
      </div>



      <div id="sub1_last" class="name">

        <button mat-button color="primary">Sign in instead</button>
        <button mat-raised-button color="primary" class="last">Next</button>

      </div>



    </div>
    <div id="Right_Block" class="Right_Block">
      <img src="assets\Picture\picture.jpg" alt="Shild Image" class="Image">
      <h1 class="h1">One account. All of Fandoo working for you.</h1>
    </div>
  </mat-card>
</div>