<form [formGroup]="updatenoteform" (ngSubmit)="update()" >
    <div class="notediv"  >

        <div fxFlex="90" class="note">
            <p>
                <input class="inputboxsize" matInput placeholder="Title..." formControlName="Title">
            </p>
            <br><br>
            <p>
                <input class="inputboxsize" matInput placeholder="Descreption..." formControlName="Descreption">
            </p>
        </div>

        <div fxFlex="10">
            <button mat-icon-button>
                <mat-icon matTooltip="New note with image"><img class="img2" src="assets\Picture\Symbols\pin.png" />
                </mat-icon>
            </button>
        </div>

    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" >
        <div fxFlex="80" fxFlex.xs="80" fxFlex.sm="15" >
            <app-icons [childNoteID]="id"></app-icons>
        </div>
        <div fxFlex="15" fxFlex.xs="15" fxFlex.sm="15">
            <button  (click)="onNoClick()" type="submit" mat-button>Close</button>
        </div>
    </div>
</form>