<div id="Main" class="main">
    <img src="assets\Picture\Fundoo.jpg" alt="Fundo logo" class="logo">
    <mat-card class="main_block">
        <div class="top">
            <mat-card-title class="title">Reset Password</mat-card-title>
            <p>Set your new password</p>
        </div>
        <form [formGroup]="resetform" (ngSubmit)="reset()">
            <div class="newp">
                <mat-form-field appearance="outline" class="input_box">
                    <mat-label>Enter new password</mat-label>
                    <input matInput placeholder formControlName="newpassword">
                    <mat-error>Please enter 6 digit new password</mat-error>
                </mat-form-field>
            </div>
            <div class="newp">
                <mat-form-field appearance="outline" class="input_box">
                    <mat-label>Confirm password</mat-label>
                    <input matInput placeholder formControlName="newpassword">
                    <mat-error>Please enter 6 digit new password</mat-error>
                </mat-form-field>
            </div>



            <div class="reset">
                <button type="submit" mat-flat-button color="primary">Set Password</button>
            </div>
        </form>
    </mat-card>
</div>